install
url --url=http://mirror.rackspace.com/CentOS/7.0.1406/os/x86_64/

lang en_US.UTF-8
keyboard us
timezone America/Los_Angeles

network --device=em0 --bootproto=dhcp --ipv6=auto
firewall --enable --ssh

authconfig --enableshadow --passalgo=sha512
selinux --disabled
rootpw vagrant

text
skipx

clearpart --all --initlabel
zerombr
autopart
bootloader --location=mbr

firstboot --disabled
reboot

%packages
@Core
bzip2
gcc
kernel-devel
kernel-headers
%end

%post
yum update -y

# vagrant
groupadd vagrant -g 1001
useradd vagrant -g vagrant -G wheel -u 1001
echo "vagrant" | passwd --stdin vagrant

# sudo
yum install -y sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

yum clean all
%end
